.wall {
  opacity: 0.6;
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(62, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  border: none;
}

h1 {
  position: relative;
  top: -2rem;
  font-size: medium;
  margin: 0;
  animation: hover-text 4s infinite ease-in-out;
}
