.cube {
  perspective: 1rem;
  perspective-origin: 50% 50%;
}

.cube-faces {
  position: relative;
  margin: 100px auto;
  width: 200px;
  height: 200px;
  transform-style: preserve-3d;
  transform: translateZ(112px);
}

.cube-face {
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 200px;
  height: 200px;
  border: 2px dotted white;
}

.cube-face--front {
  transform: translateZ(100px);
  border-style: solid;
  background: aquamarine;
}

.cube-face--left {
  transform: translateX(-100px) rotateY(-90deg);
  border-right: none;
  background: black;
}

.cube-face--right {
  transform: translateX(100px) rotateY(90deg);
  border-left: none;
  background: black;
}

.cube-face--top {
  transform: translateY(-100px) rotateX(90deg);
  border: none;
}

.cube-face--bottom {
  transform: translateY(100px) rotateX(-90deg);
  border: none;
  background-color: aquamarine;
}
