.sign {
  width: 40%;
  height: 50%;
  h1 {
    position: relative;
    top: 0.4rem;
    font-size: 0.3rem;
    margin: 0;
    text-decoration: overline;
    animation: neon 4s infinite ease-in-out;
  }
}
