.floor-panel {
  color: rgb(45, 45, 45);
  background: rgb(221, 221, 221);
  opacity: 1;
  padding: 4px;
  font-size: 0.8rem;
  align-self: flex-end;
  justify-self: center;
  display: flex;
  border-radius: 2px;
  align-items: flex-end;
  text-align: right;
  width: 40%;
  height: 60%;
}
