@import '../Corridor/Corridor.scss';

.room-content {
  @extend %wall;
  opacity: 0.9;
  // background: radial-gradient(#020024, #a58fbe 37.82%, #00d4ff);
  border: none;
  display: flex;
  justify-content: flex-end;
  background-image: none;
}
